.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon {
  fill: #595959;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}









@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.documents-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.documents-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.documents-text {
  font-size: 3rem;
  margin-bottom: 14px;
}
.documents-navlink {
  text-decoration: none;
}
.documents-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.documents-component {
  text-decoration: none;
}
.documents-component1 {
  text-decoration: none;
}
.documents-component2 {
  text-decoration: none;
}
.documents-component3 {
  text-decoration: none;
}
.documents-component4 {
  text-decoration: none;
}
.documents-component5 {
  text-decoration: none;
}
.documents-component6 {
  text-decoration: none;
}
.documents-component7 {
  text-decoration: none;
}
.documents-component8 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .documents-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .documents-container1 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .documents-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
