.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #458df1;
}
.home-max-width {
  width: 100%;
  height: 115px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  height: auto;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.home-link:hover {
  color: var(--dl-color-scheme-brown);
}
.home-link1 {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  height: auto;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.6;
  margin-left: 41px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.home-link1:hover {
  color: var(--dl-color-scheme-brown);
}
.home-navlink {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  height: auto;
  z-index: 100;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.6;
  margin-left: 41px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.home-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.home-text:hover {
  color: var(--dl-color-scheme-brown);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-argentina {
  height: 1246px;
  position: relative;
  padding-top: 175px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #4085f3;
}
.home-max-width1 {
  height: 849px;
  margin-top: 22px;
}
.home-heading-container {
  flex: 1;
  width: 986px;
  height: 87px;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text02 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.home-text03 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-gallery {
  width: 100%;
  height: 376px;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container1 {
  width: 100%;
  height: 378px;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}
.home-image {
  width: 100%;
  height: 369px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container2 {
  height: 286px;
  display: flex;
  grid-gap: 20px;
  align-self: stretch;
  flex-direction: column;
}
.home-gallery1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-style: inset;
  border-width: 6px;
}
.home-text09 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text10 {
  color: #0e0d0d;
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link2 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(28, 61, 228);
}
.home-gallery-card1 {
  width: 100%;
  display: flex;
  opacity: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-style: inset;
  border-width: 6px;
}
.home-text11 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text12 {
  color: var(--dl-color-scheme-black);
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link3 {
  color: var(--dl-color-scheme-white);
  border-width: 1px;
  text-decoration: none;
  background-color: rgb(28, 61, 228);
}
.home-gallery-card2 {
  width: 100%;
  display: flex;
  opacity: 0.3;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text13 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text14 {
  color: rgb(89, 89, 89);
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-button {
  border-width: 1px;
}
.home-carpi {
  height: 1278px;
  position: relative;
  padding-top: 26px;
  background-color: #6de147;
}
.home-max-width2 {
  height: 849px;
  margin-top: 22px;
}
.home-heading-container1 {
  flex: 1;
  width: 986px;
  height: 87px;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text15 {
  color: var(--dl-color-scheme-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.home-text18 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text20 {
  color: var(--dl-color-scheme-white);
}
.home-text21 {
  color: var(--dl-color-scheme-white);
}
.home-gallery2 {
  width: 100%;
  height: 376px;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container3 {
  width: 100%;
  height: 378px;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}
.home-image4 {
  width: 100%;
  height: 369px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container4 {
  height: 286px;
  display: flex;
  grid-gap: 20px;
  align-self: stretch;
  flex-direction: column;
}
.home-gallery3 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-gallery-card3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-style: inset;
  border-width: 6px;
}
.home-text23 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text24 {
  color: rgb(89, 89, 89);
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link4 {
  color: #f3f7f6;
  border-width: 0px;
  text-decoration: none;
  background-color: #1c3de4;
}
.home-gallery-card4 {
  width: 100%;
  display: flex;
  opacity: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image6 {
  width: 100%;
  height: 100%;
  opacity: 1;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-scheme-darkblue);
  border-style: inset;
  border-width: 6px;
}
.home-text25 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text26 {
  color: rgb(89, 89, 89);
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link5 {
  color: var(--dl-color-scheme-white);
  border-width: 1px;
  text-decoration: none;
  background-color: #1c3de4;
}
.home-gallery-card5 {
  width: 100%;
  display: flex;
  opacity: 0.3;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text27 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text28 {
  color: rgb(89, 89, 89);
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-button1 {
  border-width: 1px;
}
.home-about {
  background-color: var(--dl-color-scheme-lightbrown);
}
.home-max-width3 {
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image-container {
  position: absolute;
  align-self: center;
}
.home-icon {
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-maxwidth);
  bottom: 0px;
  height: var(--dl-size-size-xsmall);
  margin: auto;
  position: absolute;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-nav {
    display: none;
  }
  .home-nav1 {
    display: flex;
    animation-direction: row;
  }
  .home-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-argentina {
    height: 1931px;
  }
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container1 {
    width: 100%;
    flex-direction: row;
  }
  .home-container2 {
    width: 100%;
    align-items: stretch;
  }
  .home-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
  .home-carpi {
    height: 1188px;
    padding-top: 656px;
  }
  .home-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery2 {
    flex-direction: column;
  }
  .home-container3 {
    width: 100%;
    flex-direction: row;
  }
  .home-container4 {
    width: 100%;
    align-items: stretch;
  }
  .home-gallery3 {
    grid-template-columns: 1fr 1fr;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-image-container {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-max-width {
    display: flex;
    padding: var(--dl-space-space-unit);
  }
  .home-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text02 {
    font-size: 48px;
  }
  .home-container1 {
    height: 451px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gallery-card {
    flex-direction: column;
  }
  .home-gallery-card1 {
    flex-direction: column;
  }
  .home-gallery-card2 {
    flex-direction: column;
  }
  .home-text15 {
    font-size: 48px;
  }
  .home-text16 {
    font-size: 48px;
  }
  .home-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-gallery3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gallery-card3 {
    flex-direction: column;
  }
  .home-gallery-card4 {
    flex-direction: column;
  }
  .home-gallery-card5 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-nav1 {
    flex: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-argentina {
    height: 1598px;
    padding-top: 257px;
    padding-bottom: 241px;
  }
  .home-max-width1 {
    height: 895px;
    margin-top: 0px;
  }
  .home-text02 {
    width: 463px;
    height: 198px;
    font-size: 40px;
    margin-bottom: 0px;
  }
  .home-image {
    width: 441px;
  }
  .home-container2 {
    height: 939px;
  }
  .home-gallery1 {
    height: 650px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .home-image1 {
    height: 10rem;
  }
  .home-image2 {
    height: 10rem;
  }
  .home-image3 {
    height: 10rem;
  }
  .home-carpi {
    height: 1403px;
    padding-top: 301px;
  }
  .home-text15 {
    font-size: 40px;
  }
  .home-image4 {
    width: 435px;
  }
  .home-container4 {
    height: 749px;
  }
  .home-gallery3 {
    height: 740px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image5 {
    height: 10rem;
  }
  .home-image6 {
    height: 10rem;
  }
  .home-image7 {
    height: 10rem;
  }
}
